/*RESETS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #2a3439;
    
}

a{
    color: #fff;
    text-decoration:none;

}
h3{
    font-family: arial;
    font-size: 70px;
    color:rgb(3, 70, 47);
    font-weight: bolder;
    width:400px;
}
/* GLOBAL CLASSES */
.text-center{
    text-align: center;
}
.grids{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.flexes{
    display:flex;
}
.rborder{
    border-right: solid 5px black;
}

/* CUSTOM STYLES */
header{
    background-color: #4f4875;
    padding: 7px 3%;
    display: flex;
    justify-content: space-between;
    align-items:center;

}
header h3{
    color: #ffffff;
    font-size: 16px;
    

}

header nav a:not(:last-child){
    margin:10px;


}
/* Hero image */


.hero{
    background-image: linear-gradient(rgba(0,0,0.5 ), rgb(141, 141, 173)), url("../pflag.jpg");
    background-image: url("../Red\ wall.jpg");
    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
    color:#2f4ced;
    height: 500px;
    font-size: 30px;
    
    background-color: #0b0b0b;
    
}
.portfolio{
    margin-top: 35px;

}
.portfolio h3{
    margin-bottom: 25px;

}
.working{
    position:relative;
    left: 0%;

}
#mywork{
    width: 50%;
}
.work{
    /* flex:1; */
    justify-content: center;
    gap: 15px;
    position: relative;
    left: 10%;
    
}

.image{
    border: solid 5px black;
    height: 300px;
    width: 400px;
    box-shadow: black 10px 10px;

}
.image:hover{
    opacity: 0.5;
    transform: scale(1.3);
}
.contact{
    margin-top: 50px;

}
#contact-me{
    text-align: left;
    font-size: 60px;
}


footer{
    margin-top: auto;
    flex-direction:column;
    position: relative;
    left: 10%;
    
    /* justify-content: space-between; */
}
/* Media Queries */
@media(min-width: 750px){
    /* .portfolio{
        padding: 25px 10%;
    } */


}

@media(min-width: 800px){
    /* .work{
        margin: 0 auto;
        width:50%;
    } */
    

}
@media(max-width: 800px){
    .image{
        height: 150px; 
        width: 200px;
    }
    .portfolio{
        padding: 25px 10%;
    }
    h3{
        font-size: 30px;
    }

}


